{% load thumbnail %}
<div class="row">
  {% if type == 'full' %}
    {% for article in articles %}
    <div class="col-12">
      <div class="card article-card border-0">
        <div class="row no-gutters">
          <div class="col-sm-6 col-xs-12">
            {% thumbnail article.image "800x400" crop="center" as im %}
              <a href="{{ article.get_absolute_url }}"><img src="{{ im.url }}" class="img-fluid"></a>
            {% endthumbnail %}
          </div>
          <div class="col-sm-6 col-xs-12 p-4">
            <h4 class="article-title text-center"><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h4>
            <p class="article-author text-center mb-4">Por <a href="{% url 'authors:detail' article.author.id %}">{{ article.author }}</a></p>
            <p class="pt-4">{{ article.introduction|striptags|safe|truncatewords:20 }}</p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  {% else %}
    {% for article in articles %}
      <div class="{% if type == "double" %}col-sm-6{% elif type == "triple" %}col-sm-4{% endif %} col-xs-12">
        <div class="card article-card border-0">
          {% thumbnail article.image "800x400" crop="center" as im %}
            <a href="{{ article.get_absolute_url }}"><img src="{{ im.url }}" class="card-img-top img-fluid"></a>
          {% endthumbnail %}
          <div class="card-body">
            <h4 class="article-title text-center"><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h4>
            <p class="article-author text-center">Por <a href="{% url 'authors:detail' article.author.id %}">{{ article.author }}</a></p>
            <p class="card-text text-justify">{{ article.introduction|striptags|safe|truncatewords:20 }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}
</div>
