{% extends "base.html" %}
{% load thumbnail articles_tags %}
{% block content %}

{% thumbnail edition.cover "1200" as im %}
<div id="edition-header" class="mt-4" style="background-image: url('{{ im.url }}');">
  <div id="">
  </div>
  <div class="row h-100">
   <div class="col-sm-12 my-auto">
     <div id="edition-header-info" class="p-3">
      <h2 class="text-center">Edición No. {{ edition.number }}</h2>
      <p class="text-center">{{ edition.get_date }}</p>
     </div>
   </div>
  </div>
</div>
{% endthumbnail %}
<div>
  {% if narrativa %}
  <section class="section-list">
    <h2 class="section-title no-margin-top">~ Narrativa ~</h2>
    {% show_grid narrativa %}
  </section>
  {% endif %}
  {% if poesia %}
  <section class="section-list">
    <h2 class="section-title">~ Poesía ~</h2>
    {% show_grid poesia %}
  </section>
  {% endif %}
  {% if impresiones %}
  <section class="section-list">
    <h2 class="section-title">~ Impresiones ~</h2>
    {% show_grid impresiones %}
  </section>
  {% endif %}
  {% if resena %}
  <section class="section-list">
    <h2 class="section-title">~ Reseña ~</h2>
    {% show_grid resena %}
  </section>
  {% endif %}
  {% if ensayo %}
  <section class="section-list">
    <h2 class="section-title">~ Ensayo ~</h2>
    {% show_grid ensayo %}
  </section>
  {% endif %}
</div>
{% include "authors/author_block.html" %}
{% if books %}
  <div class="align-middle">
    <h2 class="mb-0 pt-4 pb-4 text-center text-uppercase">Publicaciones</h2>
  </div>
  <div class="p-4" id="publication-block">
    <div class="container">
      <div class="row">
        {% for i in books %}
          <div class="col-sm-6">
            <div class="card border-0 mb-4">
              <div class="row no-gutters">
                <div class="col-md-4 mb-3">
                  {% thumbnail i.cover "600x800" crop="center" as im %}
                    <img src="{{ im.url }}" class="card-img img-fluid">
                  {% endthumbnail %}
                </div>
                <div class="col-md-8">
                  <div class="card-body pt-0">
                    <h5 class="card-title"><a href="{% url 'publications:detail' i.id %}" class="book-title">{{ i.name }}</a></h5>
                    <p class="card-text">{{ i.description|safe|truncatewords_html:15 }}</p>
                    <p class="card-text"><small class="text-mute">{{ i.author.name }}</small></p>
                    <a href="{% url 'publications:detail' i.id %}" class="btn btn-sm btn-secondary text-middle">Ver más</a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        {% endfor %}
      </div>
    </div>
    <p class="text-center mt-2">
      <a href="{% url 'publications:index' %}" class="btn btn-sm btn-secondary">Más publicaciones</a>
    </p>
  </div>
{% endif %}
{% endblock %}
