{% extends "base.html" %}
{% load thumbnail articles_tags %}
{% block content %}
<div class="version-list">
  {% for edition in editions %}
    <div class="version-box">
      <a href="{{ edition.get_absolute_url }}">
        <figure>
          {% thumbnail edition.cover "80x80" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
          {% endthumbnail %}
        </figure>
        <p class="edition-number">No. {{ edition.number }}</p>
        <p class="edition-date">{{ edition.get_date }}</p>
      </a>
    </div>
  {% endfor %}
</div>
<div class="content">
  {% if narrativa %}
  <section class="section">
    <h2 class="section-title no-margin-top">~ Narrativa ~</h2>
    {% show_grid narrativa %}
  </section>
  {% endif %}
  {% if poesia %}
  <section class="section">
    <h2 class="section-title">~ Poesía ~</h2>
    {% show_grid poesia %}
  </section>
  {% endif %}
  {% if impresiones %}
  <section class="section">
    <h2 class="section-title">~ Impresiones ~</h2>
    {% show_grid impresiones %}
  </section>
  {% endif %}
  {% if resena %}
  <section class="section">
    <h2 class="section-title">~ Reseña ~</h2>
    {% show_grid resena %}
  </section>
  {% endif %}
  {% if ensayo %}
  <section class="section">
    <h2 class="section-title">~ Ensayo ~</h2>
    {% show_grid ensayo %}
  </section>
  {% endif %}
</div>
{% include "authors/author_block.html" %}
{% endblock %}
