{% extends "base.html" %}
{% load thumbnail %}
{% block content %}
<div class="container">
  <div class="content">
    <section class="author-section section mt-4">
      <header class="text-center">
      {% thumbnail author.photo "100x100" crop="center" as im %}
        <img src="{{ im.url }}" class="img-responsive mx-auto d-block">
      {% endthumbnail %}
      <h2>{{ author.name }}</h2>
      </header>
      <p class="author-bio">{{ author.bio|safe }}</p>
      <hr />
      <div class="row">
        {% for article in author.article_set.all %}
          <div class="col-12 mb-3">
            <div class="card article-card border-0">
              <div class="row no-gutters">
                <div class="col-sm-6 col-xs-12">
                  {% thumbnail article.image "800x400" crop="center" as im %}
                    <a href="{{ article.get_absolute_url }}"><img src="{{ im.url }}" class="img-fluid"></a>
                  {% endthumbnail %}
                </div>
                <div class="col-sm-6 col-xs-12 p-4">
                  <h4 class="article-title text-center"><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h4>
                  <p class="article-author text-center mb-4">Por <a href="{% url 'authors:detail' article.author.id %}">{{ article.author }}</a></p>
                  <p class="pt-4">{{ article.introduction|striptags|safe|truncatewords:20 }}</p>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </section>
  </div>
</div>
{% endblock %}
