{% load thumbnail staticfiles i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Alastor{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Revista de literatura">
    <meta name="author" content="Yader Velasquez">

    {% block meta %}
    {% endblock %}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" rel="" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/project.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}" type="text/css">
    {% block css %}
    {% endblock %}

  </head>

  <body>
    <div class="container-fluid p-0">
      <header>
        <!-- Top nav -->
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top pt-0 pb-0" id="general-nav">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#general-menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="ml-auto d-block d-sm-none">
            <a class="text-white social-icon mr-2" target="_blank" href="https://www.facebook.com/alastorliterario/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
            <a class="text-white social-icon" target="_blank" href="https://twitter.com/AlastorRevista"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
          </div>
          <div class="collapse navbar-collapse mr-auto" id="general-menu">
            <ul class="navbar-nav">
              <li class="nav-item"><a class="nav-link text-uppercase{% if index_flag %} active{% endif %}" href="/">Portada</a></li>
              <li class="nav-item"><a class="nav-link text-uppercase{% if presentation_flag %} active{% endif %}" href="/presentacion/">Presentación</a></li>
              <li class="nav-item"><a class="nav-link text-uppercase{% if publication_flag %} active{% endif %}" href="{% url 'publications:index' %}">Publicaciones</a></li>
              <li class="nav-item"><a class="nav-link text-uppercase{% if author_flag %} active{% endif %}" href="{% url 'authors:list' %}">Autores</a></li>
              <!--
              <li class="nav-item"><a class="nav-link text-uppercase" href="#">Lo último</a></li>
              <li class="nav-item"><a class="nav-link text-uppercase" href="#">La movida</a></li>
              -->
            </ul>
          </div>
          <div class="ml-auto d-none d-sm-block">
            <a class="text-white social-icon mr-2" target="_blank" href="https://www.facebook.com/alastorliterario/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
            <a class="text-white social-icon" target="_blank" href="https://twitter.com/AlastorRevista"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
          </div>
        </nav>
        <div id="logo">
          <h1 class="mt-4"><a href="/"><img src="{% static 'images/logo.png'%}" />Álastor</a></h1>
        </div>
        <!-- Section nav -->
        <nav id="section-nav" class="navbar navbar-expand-sm navbar-light p-0">
          <button class="navbar-toggler ml-3" type="button" data-toggle="collapse" data-target="#section-menu" aria-controls="section-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="section-menu">
            <ul id="menu-main-nav" class="navbar-nav nav-fill w-100">
              {% for section in nav_sections %}
                <li class="nav-item"><a class="nav-link text-uppercase" href="{{ section.get_absolute_url }}">{{ section.name }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </nav>
      </header>
      {% if editions %}
      <div class="version-list">
        {% for edition in editions %}
          <div class="version-box">
            <a href="{{ edition.get_absolute_url }}">
              {% thumbnail edition.cover "80x80" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="mx-auto d-block rounded-circle">
              {% endthumbnail %}
              <p class="edition-number">No. {{ edition.number }}</p>
              <p class="edition-date">{{ edition.get_date }}</p>
            </a>
          </div>
        {% endfor %}
      </div>
      {% endif %}

      <main role="main">
      {% block content %}
      {% endblock %}
      </main>
      <footer class="footer mb-0">
        <div class="pull-right">
          <p class="mb-0">
            <a href="https://twitter.com/AlastorRevista"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
            <a href="https://www.facebook.com/alastorliterario/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
            Alastor - 2016
          </p>
        </div>
      </footer>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-80685359-1', 'auto');
      ga('send', 'pageview');
    </script>
    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '3146402222122780');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=3146402222122780&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="{% static 'js/project.min.js' %}"></script>
    {% block javascript %}
    {% endblock javascript %}
  </body>
</html>

